<div class="docs-nav-mobile unit whole show-on-mobiles">
	<select onchange="if (this.value) window.location.href=this.value">
		<option value="">Navigate Flintstone...</option>
		<option value="/flintstone/install/">Install</option>
		<option value="/flintstone/examples/">Examples</option>
		<option value="/flintstone/documentation/">Documentation</option>
		<option value="https://github.com/fire015/flintstone">Github</option>
		<option value="https://github.com/fire015/flintstone/issues">Issues</option>
	</select>
</div>