<div class="unit one-fifth hide-on-mobiles">
	<aside>
		<h4>Flintstone</h4>
		<ul>
			<li{% if page.subsection == 'install' %} class="current"{% endif %}><a href="/flintstone/install/">Install</a></li>
			<li{% if page.subsection == 'examples' %} class="current"{% endif %}><a href="/flintstone/examples/">Examples</a></li>
			<li{% if page.subsection == 'documentation' %} class="current"{% endif %}><a href="/flintstone/documentation/">Documentation</a></li>
			<li><a href="https://github.com/fire015/flintstone">Github</a></li>
			<li><a href="https://github.com/fire015/flintstone/issues">Issues</a></li>
		</ul>
	</aside>
</div>